.hero_container{
    width: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 30px auto;
}
.hero_container h5,p{
    color: grey;
}
.hero_left{
    width: 60%;
    /* border: 2px solid; */
}
.hero_left h2{
    text-transform: uppercase;
    font-size: 35px;
    color: rgb(63, 62, 62);
}
.hero_left .button {
    font-size: 18px;
    margin-top: 30px;
    background-color:rgb(79, 79, 222);
    padding: 5px 10px;
    border: none;
    outline: none;
}
.hero_left .button a{
    color: white;
    text-decoration: none;



}
.hero_right{
    /* border: 2px solid; */

}

.hero_right img{
    width: 300px;
    position: absolute;
    top: 20px;
    right: 20px;

}
.hero_right .image_overlap{
    width: 200px;
    height: 150px;
    background-color: rgb(161, 161, 229);
    position: relative;
}